---
import "../styles/globalStyle.css";
import "../components/Card.astro";
import Card from "../components/Card.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <h1>Tryllepatruljen</h1>
      <p class="tagline">Når børn og unge fortjener et magisk øjeblik...</p>
      <a href="#content" class="scroll-down">↓</a>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
        perferendis commodi dignissimos excepturi ullam deserunt inventore,
        facilis explicabo fugit molestias accusamus laudantium, incidunt
        voluptatibus nulla. Tenetur consequatur aperiam assumenda autem!
      </p>
    </header>
    <main>
      <!--! Swiper -->
      <div class="swiper slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!--! slider 1 -->
            <div class="content">
              <div class="background" data-swiper-parallax="-50%"></div>
              <div class="information" data-swiper-parallax="-200%">
                <div class="head" data-swiper-parallax="-00%">
                  <h1 class="head_text"></h1>
                  <svg
                    id="Layer-2"
                    class="svg-layer-1"
                    xmlns="http://www.w3.org/2000/svg"
                    width="207"
                    height="140"
                    viewBox="0 0 207 140"
                  >
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #ffffff00;
                        }
                        .cls-2 {
                          fill: #b6d0e2;
                        }
                      </style>
                    </defs><g id="I9T5qk.tif">
                      <path
                        class="cls-1"
                        d="M197,22.9v108.1H10V9h187v1l-10.2.3c-39.1,4.7-72.2,39.9-72,79.7,0,15.2,9.4,30.5,23.5,36.5,48.5,20.8,85-55.6,23.4-74.9-1.1-.4-1.8.7-1.5-1.5s4.2-9.1,6.1-11.7c7.6-10.1,18.4-14.1,30.7-15.5ZM93.6,10C52.8,8.8,14.6,43.2,11.9,83.8c-3.9,58.8,74,58.9,78.6,10.9s-11.6-36.6-32.3-43.1c-1.1-.4-1.8.7-1.5-1.5.4-3.2,5.7-11.2,8-13.9,6.9-7.9,18.1-13.4,28.8-12.4v-13.9l.1.1Z"
                      >
                      </path><path
                        class="cls-2"
                        d="M197,10v12.9c-12.3,1.4-23.1,5.5-30.7,15.5-7.6,10-5.7,8.6-6.1,11.7s.3,1.1,1.5,1.5c61.6,19.3,25.1,95.7-23.4,74.9-14.1-6-23.4-21.3-23.5-36.5-.2-39.8,32.9-75.1,72-79.7,0,0,10.2-.3,10.2-.3Z"
                      >
                      </path><path
                        class="cls-2"
                        d="M93.6,10v13.9c-10.7-.9-21.9,4.6-28.8,12.4s-7.6,10.6-8,13.9.3,1.1,1.5,1.5c20.7,6.5,34.6,19.6,32.3,43.1-4.7,48-82.5,47.9-78.6-10.9C14.6,43.2,52.8,8.8,93.6,10Z"
                      >
                      </path>
                    </g>
                  </svg>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Suscipit labore nulla dicta impedit praesentium explicabo
                    accusantium adipisci dignissimos itaque error, minima fuga
                    magnam, placeat modi. Iusto possimus sequi consequatur
                    fugit!
                  </p>
                  <!--?xml version="1.0" encoding="UTF-8"?-->
                  <svg
                    id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg"
                    width="207"
                    height="140"
                    viewBox="0 0 207 140"
                  >
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #ffffff00;
                        }
                        .cls-2 {
                          fill: #b6d0e2;
                        }
                      </style>
                    </defs><g id="I9T5qk.tif">
                      <path
                        class="cls-1"
                        d="M197,22.9v108.1H10V9h187v1l-10.2.3c-39.1,4.7-72.2,39.9-72,79.7,0,15.2,9.4,30.5,23.5,36.5,48.5,20.8,85-55.6,23.4-74.9-1.1-.4-1.8.7-1.5-1.5s4.2-9.1,6.1-11.7c7.6-10.1,18.4-14.1,30.7-15.5ZM93.6,10C52.8,8.8,14.6,43.2,11.9,83.8c-3.9,58.8,74,58.9,78.6,10.9s-11.6-36.6-32.3-43.1c-1.1-.4-1.8.7-1.5-1.5.4-3.2,5.7-11.2,8-13.9,6.9-7.9,18.1-13.4,28.8-12.4v-13.9l.1.1Z"
                      >
                      </path><path
                        class="cls-2"
                        d="M197,10v12.9c-12.3,1.4-23.1,5.5-30.7,15.5-7.6,10-5.7,8.6-6.1,11.7s.3,1.1,1.5,1.5c61.6,19.3,25.1,95.7-23.4,74.9-14.1-6-23.4-21.3-23.5-36.5-.2-39.8,32.9-75.1,72-79.7,0,0,10.2-.3,10.2-.3Z"
                      >
                      </path><path
                        class="cls-2"
                        d="M93.6,10v13.9c-10.7-.9-21.9,4.6-28.8,12.4s-7.6,10.6-8,13.9.3,1.1,1.5,1.5c20.7,6.5,34.6,19.6,32.3,43.1-4.7,48-82.5,47.9-78.6-10.9C14.6,43.2,52.8,8.8,93.6,10Z"
                      >
                      </path>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Card
          header="Hanne Solskin"
          tekst1="Hardwell, født Robbert van de Corput den 7. januar 1988 i Holland."
          tekst2="Hardwell har modtaget adskille priser, herunder edn prestigefylde title som verdens bedste DJ"
          tekst3="Hardwell har været en hovedattraktion på store musikfestivaler som Tomorrowland."
        />
        <div class="swiper-slide"></div>
      </div>
    </main>

    <style>
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      /* Tilføjelse af parallax-effekter */
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-image: url(/public/img/9.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed; /* Klassisk parallax */
        position: relative;
      }

      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: translateZ(0); /* Sørg for GPU-optimering */
        transition: transform 0.6s ease;
      }

      /* Header med parallax */
      header {
        background-image: url(/public/img/10.png);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        padding: 2rem 5rem;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      /* Swiper-indhold */
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .scroll-down {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        color: white;
        text-decoration: none;
        animation: bounce 2s infinite;
      }

      @keyframes bounce {
        0%,
        100% {
          transform: translate(-50%, 0);
        }
        50% {
          transform: translate(-50%, -10px);
        }
      }

      .information {
        text-align: center;
        color: var(--Icon-background-crl);
        font-size: 1.5rem;
        padding: 2rem;
      }

      h1,
      p {
        margin-bottom: 1rem;
        transition:
          transform 0.6s ease,
          opacity 0.6s ease;
      }

      /* Parallax-animationer */
      [data-swiper-parallax] {
        transition:
          transform 0.6s ease,
          opacity 0.6s ease;
      }
    </style>
  </body>
</html>
